.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 200px;
    height: auto;
    background-color: aliceblue;
    border-radius: 2px;
    font-size: 28px;
}

button:hover{
    cursor: pointer;
    background-color: aquamarine;
}